* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #FF8A65;
    --secondary-color: #FF7043;
    --bg: #F5F7F8;
    --display-bg: #DBE2E5;
    --numpad-bg: #ECEFF1;
    --primary-text-color: #263238;
    --secondary-text-color: #607D8B;
    --button-color: #E7EBED;
    --button-color-hover: #CFD8DC;
    --operation-button-color: #DBE2E5;
    --operation-button-color-hover: #C4CED4;
}

.dark-mode {
    --primary-color: #D95F39;
    --secondary-color: #FF7043;
    --bg: #13191C;
    --display-bg: #1C252A;
    --numpad-bg: #263238;
    --primary-text-color: #ECEFF1;
    --secondary-text-color: #90A4AE;
    --button-color: #29353B;
    --button-color-hover: #37474F;
    --operation-button-color: #3E515A;
    --operation-button-color-hover: #455A64;
}

::selection {
    background-color: var(--primary-color);
    color: var(--bg);
}

body {
    background-color: var(--bg);
}

/* Navbar */
nav {
    height: 85px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 2rem;
    color: var(--primary-text-color);
    align-self: center;
}

nav .link-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav .link-group a {
    text-decoration: none;
    cursor: pointer;
    font-size: 3rem;
    color: var(--primary-text-color);
}

nav .link-group a:hover {
    color: var(--secondary-text-color);
    transition: color .3s;
}

/* Main */
.calculator {
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--display-bg);
}

.display {
    height: 250px;
    position: relative;
}

.display-text {
    width: 470px;
    position: absolute;
    text-align: end;
    right: 15px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: auto;
}

.display-text::-webkit-scrollbar {
    display: none;
    height: 10px;
}

.display-text p.big {
    font-size: 4rem;
    color: var(--primary-text-color);
}

.display-text p.small {
    font-size: 2rem;
    color: var(--secondary-text-color);
}

.numpad {
    height: 500px;
    padding: 15px;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-gap: 10px;
    border-radius: 10px;
    background-color: var(--numpad-bg);
}

.zero {
    grid-column: span 2;
}

button {
    color: var(--primary-text-color);
    font-size: 2rem;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: var(--button-color-hover);
}

button:active {
    font-weight: bold;
}

.operation {
    background-color: var(--operation-button-color);
}

.operation:hover {
    background-color: var(--operation-button-color-hover);
}

.equal {
    background-color: var(--primary-color);
}

.equal:hover {
    background-color: var(--secondary-color);
}