* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #FF8A65;
    --primary-color-darker: #FF7043;
    --black: #263238;
    --light-black: #607D8B;
    --gray: #B0BEC5;
    --gray-75: #b0bec575;
    --gray-50: #b0bec550;
    --light-gray: #CFD8DC;
    --light-gray-50: #CFD8DC50;
    --white: #ECEFF1;
}

::selection {
    background-color: var(--primary-color);
    color: var(--white);
}

.calculator {
    max-width: 500px;
    margin: 5vh auto;
    border-radius: 10px;
    background-color: var(--gray-75);
}

.display {
    height: 250px;
    position: relative;
}

.display-text {
    width: 460px;
    position: absolute;
    text-align: end;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: auto;
}

.display-text::-webkit-scrollbar {
    display: none;
    height: 10px;
}

.display-text p.big {
    font-size: 4rem;
    color: var(--black);
}

.display-text p.small {
    font-size: 2rem;
    color: var(--light-black);
}

.numpad {
    height: 500px;
    padding: 15px;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-gap: 10px;
    border-radius: 10px;
    background-color: var(--white);
}

.zero {
    grid-column: span 2;
}

button {
    color: var(--black);
    font-size: 2rem;
    background-color: var(--light-gray-50);
    border: none;
    border-radius: 10px;
    user-select: none;
}

button:hover {
    background-color: var(--light-gray);
}

button:active {
    font-weight: bold;
}

.operation {
    background-color: var(--gray-50);
}

.operation:hover {
    background-color: var(--gray);
}

.equal {
    background-color: var(--primary-color);
}

.equal:hover {
    background-color: var(--primary-color-darker);
}